<nav class="navbar py-3 top-nav navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand text-white ms-3" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>


            <div class="profile d-flex">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnbT39rFHUJ2j9t0WAIoeDYZDvlLJW392ysA&s"
                    class="img-fluid" alt="">

                <div class="info">
                    <span>Admin</span>
                    <span>Dinesh Gayke</span>
                </div>
            </div>

        </div>
    </div>
</nav>


<div id="navleft" [ngClass]="orientation" class="sidebar-left open rtl-ps-none common-class position-relative">
    <div class="main-menu">
        <ul class="navigation-left navigation-top ">
            <li id="Dashboard" data-item="Dashboard" routerLink="products" class="nav-item sidebar-first-child">
                <a  class="nav-item-hold nav-icon"><img
                        src="https://demo20.webplat.in/assets/Image/layout/Group%2062.svg"><span
                        class="text-white ms-1 ng-star-inserted">Products</span><!----></a>
            </li>

            <li id="folder" data-item="folder"  routerLink="orders" class="nav-item">
                <a class="nav-item-hold"><img src="https://demo20.webplat.in/assets/Image/layout/home.svg"
                        class="nav-icon"><span class="text-white ms-1 ng-star-inserted">Product
                        Oreders</span><!----></a>
            </li>


            <li id="TransactionMaster" data-item="TransactionMaster" routerLink="suplier" class="nav-item"><a class="nav-item-hold">
                    <img src="https://demo20.webplat.in/assets/Image/layout/Setting.svg" class="nav-icon"><span
                        class="text-white ms-1 ng-star-inserted">Supliers</span><!----></a></li>


        </ul>
    </div>

</div>

<div>

</div>



 